.idea
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/StarterContent/
/Content/Collections/
/Content/__ExternalObjects__/
/Content/__ExternalActors__/
/Content/LevelPrototyping/
/Content/FPWeapon/
/Content/FirstPersonArms/
/Content/FirstPerson/
/Content/Developers/
/Config/
